form  {
       padding: 40px 20px;
       background: rgba(255, 255, 255, 0.966);
       %styleFont {
              font-size: var(--sm-font-size);
       }
       
       .title span  {
              padding: 7px 20px;
              background: rgb(236, 236, 245);
              border-radius: 20px;
              @extend %styleFont;
       }

       .title h2 {
              margin-top: 15px;
              font-size: 3rem;
              font-weight: bold;
              color: var(--primary-color)
       }

       .title p {
              @extend %styleFont;
       }

       .title a .icon {
              background: var(--primary-color);

              svg path {
                     fill: #fff;
              }
       }

       .inputs-form .input  {
              margin: 20px 0px;
              padding: 5px 11px; 
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              border: 1px solid #00000021;
              border-radius: 5px;

              label {
                     color: #00000021;
              }

              & * {
                     @extend %styleFont;
              }

              input {
                     padding: 5px;
                     width: 100%;
                     outline: none;
              }
              
       }

       p {
              @extend %styleFont;
       }

       p a {
              color: rgb(131, 131, 230);
              text-decoration: 1px underline rgb(131, 131, 230);
              @extend %styleFont;
       }

       .footer :is(.buttons button, .buttons button a, p) {
              @extend %styleFont;
       }

       .footer .buttons button {
              padding: 10px 20px;
              /* margin-left: 15px; */
              border-radius: 50px;
              color: rgb(131, 131, 230);
              font-weight: 500;
       }

       .footer .buttons button + button {
              background: var(--primary-color);
              color: #fff;
       }

       .footer .buttons button + button[disabled] {
              opacity: 0.6;
              cursor: no-drop;
       }

}

